// agri-app/src/components/styles/GoogleTranslate.scss
#google_translate_element {
  text-align: right;
  margin: 2px;
  height: 2px;
}

.goog-te-banner-frame {
  display: none !important;
}

.goog-te-gadget {
  font-size: 18px !important; // Increased font size
  padding: 5px; // Added padding
  background-color: #f0f0f0; // Changed background color
  border-radius: 12px; // Added border radius
}

.goog-te-gadget span {
  display: none !important;
}

.goog-te-gadget select {
  padding: 5px; // Increased padding
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s; // Added transition for hover effect
}

.goog-te-gadget select:hover {
  background-color: #e0e0e0; // Change background on hover
}